<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="NumberOfImages" value="100"/>
		<add key="ImageNames" 
			 value="
				labradorite,
				moon stone,
				obsidian,
				agate,
				amber,
				apatite,
				amethyst,
				azurite,
				jasper,
				lapis lazuli,
				larimar,
				lazurite,
				malachite,
				onnyx,
				quartz,
				topaz,
				tiger eye,
				tourmaline,
				turquoise,
				ammonite,
				amazonite,
				dendrite,
				coral fossil,
			 "/>
		<add key="MainTopic" value="strone"/>
	</appSettings>
</configuration>
